.leaflet-container {
  width: 100%;
  height: 92vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #000000;
  color: #ffffff;
}

#profilepic {
  height: 10em;
  width: 10em;
}

